<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{--  {{ style('style') }}  --}}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <div class="app-container">
  <!--  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
<p>
  Testing The Views
</p>
    </div>
  </section>

  <div id="app"></div>  -->
<section id="left-menu">
  <div class="account-dropdown">
    <div class="logo">
      <i class="fab fa-typo3"></i>
    </div>
    <div class="name">
      joe steve
    </div>
    <div class="icon">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="groups">
    <div class="group">
      <div class="title">Title</div>
      <ul>
        <li>link</li>
        <li>link</li>
        <li>link</li>
      </ul>
    </div>
  </div>
</section>
<section id="content-area">
  <div class="search-header">
    <div class="search-box">
      <input type="text">
      <div class="icon-section">
        <div class="notif">
        <i class="fas fa-bell"></i>
        <div class="notif-number">3</div>
        </div>
        <div class="comments">
        <i class="fas fa-comment"></i>
        <div class="notif-number">3</div>
      </div>
        <div class="user">
          <i class="fas fa-user"></i>
        <div class="notif-number active">3</div>

        </div>
      </div>
    </div>
  </div>

</section>
<section id="messenger"></section>

</div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>
</html>
