@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* footer social media */

:root {

--ytb-icon:'\f213'; --ytb-color:#ff0000;
--fb-icon:'\f204'; --fb-color:#3b5998;
--link-icon:'\f208'; --link-color:#00a9cd;
--insta-icon:'\f215'; --insta-color:#6dc993;
--github-icon:'\f200'; --github-color:#6e5494;

}


@font-face{
font-family: 'Genericons';
src : url('../genericons/genericons-regular-webfont.woff')format('.woff'),url('../genericons/genericons-regular-webfont.eot')format('truetype');
}


body { 

font-family: 'Roboto Condensed', sans-serif; 

}





