* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2244;
}

kbd {
  display: block;
  font-size: 4rem;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: .4em solid black;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  text-shadow: 0 0 .5em #000;
  border-radius: .5em;
  -webkit-transition: all .07s ease;
  -moz-transition: all .07s ease;
  -ms-transition: all .07s ease;
  -o-transition: all .07s ease;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  -o-border-radius: .5em;
}

.sound {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
