$textfield: #f3f3f3;
$bgcontent: #f6f6f6;
$red: #ff3658;
$darksideblue: #0178ff;
$lightsideblue: #32aeff;
$ptext: #797979;
$htext: #3c3c3c;
$border: #ebebeb;
$searchbg: #1e88f4;
$searchinputbg: #0472e3;
