@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";
body {
  font-family: "Roboto", sans-serif;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.app-container {
  width: 100%;
  max-width: 1100px;
  background: #fff;
  min-height: calc(100vh - 15vh);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 1.2fr;
  #left-menu {
    border-right: 1px solid #888;
    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 1rem;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        .fab {
          font-size: 2rem;
        }
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-chevron-down {
          font-size: 0.8rem;
        }
      }
    }
  }
}
.groups {
  padding: 1rem;

  .group {
    .title {
      padding: 0.7rem 0;
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    ul {
      li {
        color: #333;
        padding: 0.7rem 0;
        font-size: 0.9rem;
      }
    }
  }
}
#content-area {
  overflow: hidden;
  .search-header {
    position: relative;
    padding: 0.8rem;
    box-shadow: 0 0 15px -3px rgba(191, 191, 191, 1);
    .search-box {
      width: 300px;
      margin: 0 auto;
      input[type="text"] {
        width: 100%;
        background: $textfield;
        border: none;
        padding: 0.6rem 0.7rem;
        font-size: 1.2rem;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
    .icon-section {
      position: absolute;
      top: 1rem;
      right: 0;
      font-style: 1.2rem;
      padding-right: 1rem;
      & > div {
        display: inline-block;
        color: $ptext;
        padding: 0 0.2rem;
        position: relative;
      }
      .notif-number {
        display: none;
        background-color: $red;
        color: #fff;
        font-size: 0.6rem;
        position: absolute;
        top: -5px;
        right: -7px;
        padding: 2px 5px;
        border: 1px solid #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &.active {
          display: block;
        }
      }
    }
  }
}
// h1 {
//   font-weight: 100;
//   font-size: 50px;
// }

// .home {
//   height: 100%;
//   width: 100%;
//   text-align: center;

//   img {
//     width: 100%;
//     max-width: 300px;
//     margin: 0 auto;
//   }

//   .Aligner {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .Aligner-item {
//     max-width: 50%;
//   }

//   .menu {
//     ul {
//       li {
//         padding: 10px 15px;
//         display: inline-block;
//         font-family: "Roboto", sans-serif;
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }

//   .version-num {
//     background: #e8e8e8;
//     border-radius: 4px;
//     padding: 7px 15px;
//     display: inline-block;
//     font-size: 12px;
//     margin: 10px 0 20px;
//   }

//   a {
//     text-decoration: none;
//     color: #30395c;
//     transition: all 0.3s ease-in-out;

//     &:hover {
//       color: #43d4d6;
//     }
//   }
// }
