neat/
bourbon/
base/

# .vscode/

nice-info/

.DS_Store

# .eslintrc.js

# gulpfile.js

# package.json

package-lock.json

# NPM packages folder.
node_modules

# Build files
dist/

# lock files
yarn.lock

# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Jest Coverage
coverage

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea
